extends base.pug

block scripts   
    script(src="/static/index.js") 

block style     
    style 
        include ../static/style.css
        include ../static/styleAbout.css

block content 
    div.container
        section#heading 
            h1 About Us 
        
        section#aboutus 
            h2 K's Dance academy 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rem voluptate labore fugiat, veniam provident iste quas consectetur nobis quo. Incidunt eos tempore voluptas minima iusto adipisci animi, rerum aliquid eligendi ex at officiis impedit! Deserunt minima sint, quod consectetur reiciendis non recusandae velit mollitia magnam dolores culpa illum. Est dolores quisquam, eius magni porro, soluta fugit ab reprehenderit nesciunt consectetur odio fuga quasi enim labore, vel temporibus ipsam cumque rerum obcaecati! Unde esse repellat odio necessitatibus ratione deleniti laborum? 
                p ipsum dolor sit amet consectetur adipisicing elit. Consectetur ipsa at, porro, sint reiciendis eaque autem dolores sapiente saepe repudiandae cumque officiis ut facilis reprehenderit consequatur suscipit inventore ullam veritatis temporibus, quidem veniam sed quasi ab quaerat? Magnam similique pariatur sequi necessitatibus dolores ratione inventore numquam eius non, alias, est at quisquam ab voluptates praesentium! Deleniti debitis repellendus labore quo temporibus aperiam fugit quasi ab nostrum.